# your_script.py

from config import Config

api_id = Config.TELEGRAM_API_ID
api_hash = Config.TELEGRAM_API_HASH
bot_token = Config.TELEGRAM_BOT_TOKEN
pastebin_api_key = Config.PASTEBIN_API_KEY
git add your_script.py
git commit -m "Add or update your_script.py"
git push heroku master

# Use these values in your script...

